{% extends'base.html.twig' %}

{% block title %}SeaCloud - About Us{% endblock %}

{% block body %}
    <main id="main">

        <!-- ======= Breadcrumbs Section ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>Server detail</h2>
                    <ol>
                        <li><a href="{{ path('page_home') }}">Home</a></li>
                        <li>Server detail</li>
                    </ol>
                </div>

            </div>
        </section><!-- End Breadcrumbs Section -->

        <!-- ======= Dashboard Section ======= -->
        <section id="dashboard" class="inner-page">
            <div class="container">

                <div class="row gy-4">

                    <div class="col-md-4 col-lg-3">
                        <div class="list-group pe-5">
                            <a href="{{ path('account_dashboard') }}" class="list-group-item list-group-item-action">
                                Dashboard
                            </a>
                            <a href="{{ path('account_profile') }}" class="list-group-item list-group-item-action">
                                My profil
                            </a>
                            <a href="{{ path('app_logout') }}" class="list-group-item list-group-item-action">
                                Logout
                            </a>
                        </div>
                    </div>

                    <div class="col-md-8 col-lg-9">
                        <h2 class="mb-5">Server detail</h2>

                        {% for server in servers %}
                        <div class="card mb-5">
                            <div class="card-header">
                                <h1 class="h4 my-2">{{server.name}}</h1>
                            </div>
                            <div class="card-body row">
                                <div class="col">
                                    <strong>IP</strong>
                                    <span class="text-muted">255.255.255.255</span>
                                </div>
                                <div class="col">
                                    <strong>Status</strong>
                                    <span class="badge bg-success">Ready</span>
                                </div>
                            </div>
                            <div class="card-body border-top">
                                <dl class="row mb-0">
                                    <dt class="col-sm-5">Datacenter</dt>
                                    <dd class="col-sm-7">{{server.location.name}}</dd>

                                    <dt class="col-sm-5">Distribution</dt>
                                    <dd class="col-sm-7">{{server.distribution.name}}</dd>

                                    <dt class="col-sm-5">CPU</dt>
                                    <dd class="col-sm-7">{{server.cpu}} Intel CPUs</dd>

                                    <dt class="col-sm-5">RAM</dt>
                                    <dd class="col-sm-7">{{server.ram}} GB</dd>
                                </dl>
                            </div>
                            <div class="card-body border-top">
                                <a class="btn btn-primary me-3" href="#">
                                    Restart
                                </a>
                                <a class="btn btn-light" href="#">
                                    Reset
                                </a>
                            </div>
                            <div class="card-body border-top">
                                <form class="row row-cols-lg-auto g-3 align-items-center" method="post">
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="delete-confirm" required>
                                            <label class="form-check-label" for="delete-confirm">
                                                Confirm server deletion
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>

            </div>
        </section><!-- End Login Section -->

    </main><!-- End #main -->

{% endblock %}